@import "../../globalScss/variables.module.scss";

.chats-Container {
  display: grid;
  padding-left: 20px;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  height: 85vh;
  @include respond(md) {
    display: inline;
    gap: 0px;
    padding-left: 0px;
  }

  .people-container {
    padding: 20px;
    position: relative;
    grid-column: 1 / 5;
    grid-row: 1;
    background-color: #fff;
    border-radius: 10px;
    overflow-y: scroll;
    @include respond(md) {
      border: none;
      padding-top: 0px;
    }

    .all-chats {
      .create-group {
        @include bg-gradient;
        height: 40px;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: white;
        border-radius: 7px;
        cursor: pointer;
      }
      .chat-type {
        display: flex;
        margin: 20px 0px;
        gap: 50px;
        > p {
          color: $next-color;
          cursor: pointer;
        }
      }
      .single-chat {
        height: 60px;
        margin: 5px 0;
        border-radius: 5px;
        &:hover {
          background-color: $primary-color;
        }
        .sms-time {
          color: $next-color;
          > div {
            display: flex;
            justify-content: end;
            color: white;
          }
        }
        > div {
          display: flex;
          height: 100%;
          align-items: center;
          padding: 5px;
          > div {
            margin-left: 5px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            .user-name {
              font-weight: bold;
              span {
                font-size: small;
                font-weight: normal;
              }
            }
            .message {
              font-weight: bold;
              font-size: small;
            }
          }
          img {
            height: 35px;
            border-radius: 100%;
            width: 35px;
          }
        }
      }
    }

    .search-people {
      display: flex;
      justify-content: space-between;
      .search-input {
        width: 75%;
        position: relative;
        > input {
          width: 100%;
          background-color: $primary-color;
          border-radius: 5px;
          padding: 10px;
        }
        .search-icon {
          position: absolute;
          top: 13px;
          right: 10px;
        }
      }
      button {
        width: 25%;
        @include bg-gradient;
        padding: 10px;
        border-radius: 5px;
        margin-left: 5%;
        color: white;
        > div {
          display: flex;
          width: 100%;
          align-items: center;
          gap: 5px;
          width: 50px;
        }
      }
    }
  }

  .messages-container {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    grid-column: 5 / 13;
    position: relative;
    grid-row: 1;
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 0px;

    background-color: white;
    border-radius: 20px;

    .messages-nav {
      height: 100px;
      position: sticky;
      background-color: white;
      top: 0%;
      display: flex;

      align-items: center;

      z-index: 40;
      .left-nav {
        width: 50%;
        display: flex;
        align-items: center;
        > .img-div {
          position: relative;
          > div {
            position: absolute;
            z-index: 10;
            bottom: 0;
            right: 5px;
            width: 12px;
            height: 12px;
            background-color: #62cc7b;
            border-radius: 100%;
          }
        }
        img {
          width: 3rem;
          height: 3rem;
          margin-right: 5px;
          border-radius: 9999px;
        }
      }
      .right-nav {
        width: 50%;
        display: flex;
        position: relative;
        gap: 10px;
        justify-content: end;
        > div {
          background-color: $primary-color;
          padding: 10px;
          border-radius: 5px;
          @include respond(md) {
            background-color: white;
            padding: 0px;
            border-radius: 0px;
          }
        }
      }
    }
    .messages-box {
      position: relative;
      margin-bottom: 60px;
      > div {
        flex: 1 1 0%;

        .messages {
          margin: 5px 0px;
          position: relative;
          display: flex;
          > div {
            border-radius: 0.25rem;

            width: 50%;
            display: flex;
            align-items: center;
            gap: 5px;
            @include respond(md) {
              width: 80%;
            }
            > .img-div {
              height: 100%;
              > div {
                position: relative;
                display: flex;
                align-items: end;
                height: 100%;
                > img {
                  width: 2rem;
                  height: 2rem;
                  margin-right: 5px;
                  border-radius: 9999px;
                  @include respond(md) {
                    width: 1.5rem;
                    height: 1.5rem;
                  }
                }
                > div {
                  position: absolute;
                  z-index: 10;
                  bottom: 0;
                  right: 5px;
                  width: 12px;
                  height: 12px;
                  background-color: #62cc7b;
                  border-radius: 100%;
                  @include respond(md) {
                    width: 8px;
                    height: 8px;
                    right: 1px;
                    bottom: 1;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.active-sms-type {
  @include text-gradient;
}
.justify-s {
  justify-content: flex-start;
}
.justify-e {
  justify-content: flex-end;
}
.user-text {
  text-align: justify;
  background-color: $primary-color;
  width: auto;
  max-width: 80%;
  position: relative;
  @include respond(md) {
    max-width: 100%;
  }

  .action {
    position: absolute;
    top: 0%;
    z-index: 20;
    right: -230px;

    color: $next-color;
    background-color: $natural-color;
    width: 200px;
    > ul > li {
      border-bottom: 1px solid #cfcfcf;
      margin-bottom: 5px;
      cursor: pointer;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  > p {
    width: 100%;
    > p {
      font-size: smaller;
      text-align: end;
      width: 100%;
    }
  }

  padding: 10px;
  border-radius: 10px;
  color: $next-color;
}
.my-text {
  text-align: justify;
  position: relative;
  background-color: green;
  color: white;
  .action {
    position: absolute;
    top: 0%;
    z-index: 20;
    left: -230px;
    color: $next-color;
    background-color: $natural-color;
    width: 200px;
    > ul > li {
      border-bottom: 1px solid #cfcfcf;
      margin-bottom: 5px;
      cursor: pointer;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
  > p {
    width: 100%;
    > p {
      font-size: smaller;
      text-align: end;
      width: 100%;
    }
  }
  width: auto;
  max-width: 95%;
  padding: 10px;
  border-radius: 10px;
}
.arrow-left {
  width: 0;
  height: 0;
  z-index: 10;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 0.6px;
  left: 0.75rem;
  border-right: 15px solid $natural-color;
}
.arrow-right {
  width: 0;
  height: 0;
  z-index: 10;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 0;
  right: 0.75rem;
  border-left: 15px solid $natural-color;
}
.arrow-right-nav {
  width: 0;
  height: 0;
  z-index: 10;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 50%;
  right: 1rem;
  border-left: 15px solid $natural-color;
}
.time-length {
  position: static;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  > p {
    @include bg-gradient;
    @include text-gradient;
  }
}

.send-sms {
  position: sticky;
  background: white;

  z-index: 10;
  width: 100%;
  height: 70px;
  z-index: 10;
  display: flex;
  bottom: 0px;
  align-items: center;
  justify-content: space-between;

  > .send-input {
    width: 70%;
    position: relative;
    > input {
      background-color: #f2f2f2;
      width: 100%;
      padding-left: 50px;
      @include respond(md) {
        padding-left: 10px;
      }
      height: 50px;
      border-radius: 30px;
      color: black;
    }
    > div {
      position: absolute;
      top: 12px;
      left: 15px;
      z-index: 10;
      @include respond(md) {
        right: 15px;
        left: inherit;
      }
    }
  }
  > button {
    padding: 5px;
    border-radius: 100%;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $natural-color;
  }
  .btn-p {
    @include bg-gradient;
  }
}
.nav-action {
  position: absolute;
  top: 40%;
  z-index: 20;
  left: -190px;
  color: $next-color;
  background-color: $natural-color;
  width: 200px;
  > ul > li {
    border-bottom: 1px solid #cfcfcf;
    margin-bottom: 5px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
