$primary-color: #f5f6f8;
$next-color: #636363;
$natural-color: #e6e6e6;
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

@mixin respond($breakpoint) {
  @if ($breakpoint == md) {
    @media (max-width: 768px) {
      @content;
    }
  }
  @if ($breakpoint == sm) {
    @media (max-width: 576px) {
      @content;
    }
  }
}

@mixin bg-gradient {
  background: rgba(204, 23, 106, 1);
  background: linear-gradient(
    90deg,
    rgba(204, 23, 106, 1) 25%,
    rgba(253, 40, 43, 1) 50%
  );
}
@mixin text-gradient {
  // color: transparent;
  background: linear-gradient(
    to right,
    rgba(204, 23, 106, 1) 25%,
    rgba(253, 40, 43, 1) 50%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

:export {
  primaryColor: $primary-color;
  next-color: #636363;
  natural-color: #e6e6e6;
}
