@import "./../../../globalScss/variables.module.scss";
@mixin theme {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.navContainer {
  height: 95vh;
  width: 292px;

  @include respond(md) {
    visibility: hidden;
    width: 0;
  }
  background-color: white;
  border-radius: 20px;
}

.navTitle {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: medium;
  border-bottom: 1px black solid;
  div {
    @include theme;
    font-size: xx-large;
  }
  p {
    @include theme;
  }
}

.ul {
  padding: 0px 20px;
}
.li {
  margin: 10px 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 5px;
  height: 50px;
  gap: 5px;
  color: $next-color;
  &:hover {
    @include bg-gradient;
    color: white;
  }
}
.active {
  @include bg-gradient;
  color: white;
  margin: 10px 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 5px;
  height: 50px;
  gap: 5px;

  &:hover {
    @include bg-gradient;
    color: white;
  }
}

.top-nav {
  height: 10vh;
  @include respond(md) {
    position: sticky;
    z-index: 101;
    top: 0%;
    background-color: red;
  }
}
